rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // artifacts/{appId}/users/{userId}/{your_collection_name}
    match /artifacts/{appId}/users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // artifacts/{appId}/public/data/{your_collection_name}
    match /artifacts/{appId}/public/data/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}